
@{
    ViewBag.Title = "Chart";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}
<div id="page-wrapper">
    <h2 class="title1">Charts</h2>
    <div class="charts">
        <div class="col-md-4 charts-grids widget">
            <div class="card-header">
                <h3>Bar chart</h3>
            </div>

            <div id="container" style="width: 100%; height:270px;">
                <canvas id="canvas"></canvas>
            </div>
            <button id="randomizeData">Randomize Data</button>
            <button id="addDataset">Add Dataset</button>
            <button id="removeDataset">Remove Dataset</button>
            <button id="addData">Add Data</button>
            <button id="removeData">Remove Data</button>

        </div>

        <div class="col-md-4 charts-grids widget states-mdl">
            <div class="card-header">
                <h3>Column & Line Graph</h3>
            </div>
            <div id="chartdiv1"></div>
        </div>

        <div class="clearfix"> </div>
    </div>

    <!-- for amcharts js -->
    <script src="@Url.Content("~/Areas/Admin/Assets/js/amcharts.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Assets/js/serial.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Assets/js/export.min.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/Assets/css/export.css")" type="text/css" media="all" />
    <script src="@Url.Content("~/Areas/Admin/Assets/js/light.js")"></script>
    <!-- for amcharts js -->

    <script src="@Url.Content("~/Areas/Admin/Assets/js/index2.js")"></script>

    <div class="hight-chat charts">
        <div class="col-md-6 w3ls-high charts-grids">
            <div class="hightchat-grid">
                <script type="text/javascript">
							  // Generate data

							  var data = [];

							  var time = new Date('Dec 1, 2013 12:00').valueOf();

							  var h = Math.floor(Math.random() * 100);
							  var l = h - Math.floor(Math.random() * 20);
							  var o = h - Math.floor(Math.random() * (h - l));
							  var c = h - Math.floor(Math.random() * (h - l));

							  var v = Math.floor(Math.random() * 1000);

							  for (var i = 0; i < 30; i++) {
								data.push([time, o, h, l, c, v]);
								h += Math.floor(Math.random() * 10 - 5);
								l = h - Math.floor(Math.random() * 20);
								o = h - Math.floor(Math.random() * (h - l));
								c = h - Math.floor(Math.random() * (h - l));
								v += Math.floor(Math.random() * 100 - 50);
								time += 30 * 60000; // Add 30 minutes
							  }
                </script>
                <h4 class="title">Points</h4>
                <div id="example-1"></div>
                <script type="text/javascript">
							  $(function() {
								$('#example-1').jqCandlestick({
								  data: data,
								  theme: 'light',
								  series: [{
									color: '#0099cc',
								  }],
								});
							  });
                </script>
                <script type="text/javascript">
							var _gaq = _gaq || [];
							  _gaq.push(['_setAccount', 'UA-36251023-1']);
							  _gaq.push(['_setDomainName', 'jqueryscript.net']);
							  _gaq.push(['_trackPageview']);

							  (function() {
								var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
								ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
								var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
							  })();
                </script>
            </div>
        </div>
        <div class="col-md-6 agileits-high charts-grids">
            <div class="hightchat-grid1">
                <h4 class="title">Multiple y-axis</h4>
                <div id="example-6"></div>
                <script type="text/javascript">
							  $(function() {
								$('#example-6').jqCandlestick({
								  data: data,
								  theme: 'light',
								  series: [{
									type: 'candlestick',
									color: '#ff4f81',
								  }],
								});
							  });
                </script>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <!-- for amcharts js -->
    <script src="@Url.Content("~/Areas/Admin/Assets/js/amcharts.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Assets/js/serial.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Assets/js/export.min.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/Assets/css/export.css")" type="text/css" media="all" />
    <script src="@Url.Content("~/Areas/Admin/Assets/js/light.js")"></script>
    <!-- for amcharts js -->

    <div class="charts">
        <div class="col-md-6 charts-grids w3ls-high">
            <h4 class="title">Stacked Bar Chart</h4>
            <div id="chartdiv"></div>
        </div>
        <div class="col-md-6 content-top-2 charts-grids w3ls-high card agileits-high">
            <div class="agileinfo-cdr">
                <div class="card-header">
                    <h3>Line Graph</h3>
                </div>
                <!-- start-chart -->
                <div class="content-graph">
                    <!--graph-->
                    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/Assets/css/graph.css")">
                    <!--//graph-->

                    <div class="graph-container">

                        <div id="graph-lines" sytle="height:400px"> </div>
                    </div>

                    <!-- //graph script -->
                    <script src="@Url.Content("~/Areas/Admin/Assets/js/jquery.flot.js")"></script>
                    <script>
									$(document).ready(function () {

										// Graph Data ##############################################
										var graphData = [{
												// Visits
												data: [ [6, 1300], [7, 1600], [8, 1900], [9, 2100], [10, 2500], [11, 2200], [12, 2000], [13, 1950], [14, 1900], [15, 2000] ],
												color: '#34bf49'
											}, {
												// Returning Visits
												data: [ [6, 500], [7, 600], [8, 550], [9, 600], [10, 800], [11, 900], [12, 800], [13, 850], [14, 830], [15, 1000] ],
												color: '#ff4c4c',
												points: { radius: 4, fillColor: '#fff' }
											}
										];

										// Lines Graph #############################################
										$.plot($('#graph-lines'), graphData, {
											series: {
												points: {
													show: true,
													radius: 5
												},
												lines: {
													show: true
												},
												shadowSize: 0
											},
											grid: {
												color: '#7f8c8d',
												borderColor: 'transparent',
												borderWidth: 20,
												hoverable: true
											},
											xaxis: {
												tickColor: 'transparent',
												tickDecimals: 2
											},
											yaxis: {
												tickSize: 1000
											}
										});

										// Bars Graph ##############################################
										$.plot($('#graph-bars'), graphData, {
											series: {
												bars: {
													show: true,
													barWidth: .9,
													align: 'center'
												},
												shadowSize: 0
											},
											grid: {
												color: '#7f8c8d',
												borderColor: 'transparent',
												borderWidth: 20,
												hoverable: true
											},
											xaxis: {
												tickColor: 'transparent',
												tickDecimals: 2
											},
											yaxis: {
												tickSize: 1000
											}
										});

										// Graph Toggle ############################################
										$('#graph-bars').hide();

										$('#lines').on('click', function (e) {
											$('#bars').removeClass('active');
											$('#graph-bars').fadeOut();
											$(this).addClass('active');
											$('#graph-lines').fadeIn();
											e.preventDefault();
										});

										$('#bars').on('click', function (e) {
											$('#lines').removeClass('active');
											$('#graph-lines').fadeOut();
											$(this).addClass('active');
											$('#graph-bars').fadeIn().removeClass('hidden');
											e.preventDefault();
										});

										// Tooltip #################################################
										function showTooltip(x, y, contents) {
											$('<div id="tooltip">' + contents + '</div>').css({
												top: y - 16,
												left: x + 20
											}).appendTo('body').fadeIn();
										}

										var previousPoint = null;

										$('#graph-lines, #graph-bars').bind('plothover', function (event, pos, item) {
											if (item) {
												if (previousPoint != item.dataIndex) {
													previousPoint = item.dataIndex;
													$('#tooltip').remove();
													var x = item.datapoint[0],
														y = item.datapoint[1];
														showTooltip(item.pageX, item.pageY, y + ' visitors at ' + x + '.00h');
												}
											} else {
												$('#tooltip').remove();
												previousPoint = null;
											}
										});

									});
                    </script>

                    <!-- //graph script -->

                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
    <script src="@Url.Content("~/Areas/Admin/Assets/js/index.js")"></script>

</div>

		</div>

