
@{
    ViewBag.Title = "Product";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}
@model PagedList.IPagedList<Electronic_Store.Models.product>
@using PagedList.Mvc;
<div id="page-wrapper">
    <div class="main-page">
        <div class="tables">
            <h2 class="title1">Product Management</h2>
            <div class="table-responsive bs-example widget-shadow">
                <a href="@Url.Action("Add_Product","Home")" class="btn btn-info">Add New</a>
                <h4 style="text-align:center">Product List:</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Name</th>
                            <th>Images</th>
                            <th>Price</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th colspan="2">Option</th>
                        </tr>
                    </thead>
                    @foreach (var pro in Model)
                    {
                        <tbody>
                            <tr>
                                @*<td>@pro.category_id</td>*@
                                <td>@pro.category.name</td>
                                <td>@pro.name</td>
                                <td><img src="~/Public/images/@pro.images" width="150px" height="150px" /></td>
                                <td>@string.Format("{0:#,#.##}", pro.price)đ</td>
                                <td>@pro.descriptions</td>
                                <td>@(pro.status ? "Active" : "Deactive")</td>
                                <td><a href="@Url.Action("Update_Product", "Home", new { id = pro.id })" class="btn btn-warning">Update</a></td>
                                <td><a href="@Url.Action("Delete_Product", "Home", new { id = pro.id })" class="btn btn-danger">Delete</a></td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
            <div class="paginations">
                @Html.PagedListPager(Model, page => Url.Action("Product", new { page, pageSize = Model.PageSize }))
                Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Products
            </div>
            @*<div class="panel-body widget-shadow">
                    <h4>Basic Table:</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>

                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="bs-example widget-shadow" data-example-id="bordered-table">
                    <h4>Bordered Basic Table:</h4>
                    <table class="table table-bordered"> <thead> <tr> <th>#</th> <th>First Name</th> <th>Last Name</th> <th>Username</th> </tr> </thead> <tbody> <tr> <th scope="row">1</th> <td>Mark</td> <td>Otto</td> <td>mdo</td> </tr> <tr> <th scope="row">2</th> <td>Jacob</td> <td>Thornton</td> <td>fat</td> </tr> <tr> <th scope="row">3</th> <td>Larry</td> <td>the Bird</td> <td>twitter</td> </tr> </tbody> </table>
                </div>
                <div class="bs-example widget-shadow" data-example-id="hoverable-table">
                    <h4>Hover Rows Table:</h4>
                    <table class="table table-hover"> <thead> <tr> <th>#</th> <th>First Name</th> <th>Last Name</th> <th>Username</th> </tr> </thead> <tbody> <tr> <th scope="row">1</th> <td>Mark</td> <td>Otto</td> <td>mdo</td> </tr> <tr> <th scope="row">2</th> <td>Jacob</td> <td>Thornton</td> <td>fat</td> </tr> <tr> <th scope="row">3</th> <td>Larry</td> <td>the Bird</td> <td>twitter</td> </tr> </tbody> </table>
                </div>
                <div class="bs-example widget-shadow" data-example-id="contextual-table">
                    <h4>Colored Rows Table:</h4>
                    <table class="table"> <thead> <tr> <th>#</th> <th>Column heading</th> <th>Column heading</th> <th>Column heading</th> </tr> </thead> <tbody> <tr class="active"> <th scope="row">1</th> <td>Column content</td> <td>Column content</td> <td>Column content</td> </tr> <tr> <th scope="row">2</th> <td>Column content</td> <td>Column content</td> <td>Column content</td> </tr> <tr class="success"> <th scope="row">3</th> <td>Column content</td> <td>Column content</td> <td>Column content</td> </tr> <tr> <th scope="row">4</th> <td>Column content</td> <td>Column content</td> <td>Column content</td> </tr> <tr class="info"> <th scope="row">5</th> <td>Column content</td> <td>Column content</td> <td>Column content</td> </tr> <tr> <th scope="row">6</th> <td>Column content</td> <td>Column content</td> <td>Column content</td> </tr> <tr class="warning"> <th scope="row">7</th> <td>Column content</td> <td>Column content</td> <td>Column content</td> </tr> <tr> <th scope="row">8</th> <td>Column content</td> <td>Column content</td> <td>Column content</td> </tr> <tr class="danger"> <th scope="row">9</th> <td>Column content</td> <td>Column content</td> <td>Column content</td> </tr> </tbody> </table>
                </div>
                <div class="table-responsive bs-example widget-shadow">
                    <h4>Responsive Table:</h4>
                    <table class="table table-bordered"> <thead> <tr> <th>#</th> <th>Table heading</th> <th>Table heading</th> <th>Table heading</th> <th>Table heading</th> <th>Table heading</th> <th>Table heading</th> </tr> </thead> <tbody> <tr> <th scope="row">1</th> <td>Table cell</td> <td>Table cell</td> <td>Table cell</td> <td>Table cell</td> <td>Table cell</td> <td>Table cell</td> </tr> <tr> <th scope="row">2</th> <td>Table cell</td> <td>Table cell</td> <td>Table cell</td> <td>Table cell</td> <td>Table cell</td> <td>Table cell</td> </tr> <tr> <th scope="row">3</th> <td>Table cell</td> <td>Table cell</td> <td>Table cell</td> <td>Table cell</td> <td>Table cell</td> <td>Table cell</td> </tr> </tbody> </table>
                </div>*@
        </div>
    </div>
</div>

