
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Share/_LayoutPageHomePage.cshtml";
}
@using Electronic_Store.Models;
<!-- banner-2 -->
<div class="page-head_agile_info_w3l">

</div>
<!-- //banner-2 -->
<!-- page -->
<div class="services-breadcrumb">
    <div class="agile_inner_breadcrumb">
        <div class="container">
            <ul class="w3_short">
                <li>
                    <a href="index.html">Home</a>
                    <i>|</i>
                </li>
                <li>Checkout</li>
            </ul>
        </div>
    </div>
</div>
<!-- //page -->
<!-- checkout page -->
<div class="privacy py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <span>C</span>heckout
        </h3>
        <!-- //tittle heading -->
        <div class="checkout-right">
            @*<h4 class="mb-sm-4 mb-3">
                Your shopping cart contains:
                <span>3 Products</span>
            </h4>*@
            <div class="table-responsive">
                <table class="timetable_sub">
                    @*<thead>
                        <tr>
                            <th>Image</th>
                            <th>Product Name</th>
                            <th>Price</th>
                            <th>Quanlity</th>
                            <th>Remove</th>
                            <th>Amount</th>
                        </tr>
                    </thead>*@
                    @using (Html.BeginForm("Update", "Home", FormMethod.Post))
                    {
                        if (Session["cart"] == null)
                        {
                            <tr>
                                <td><h5>Your Cart Empty!</h5></td>
                            </tr>
                        }
                        else
                        {
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>Quanlity</th>
                                    <th>Remove</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            foreach (Item item in (List<Item>)Session["cart"])
                            {
                                <tbody>
                                    <tr class="rem1">
                                        @*<td class="invert">1</td>*@
                                        <td class="invert-image">
                                            <a href="single.html">
                                                <img src="/Public/images/@item.product.images" alt=" " class="img-responsive">
                                            </a>
                                        </td>
                                        <td class="invert">@item.product.name</td>
                                        <td class="invert">@string.Format("{0:#,#.##}", item.product.price)</td>
                                        @*<td class="invert">
                                            <div class="quantity">
                                                <div class="quantity-select">
                                                    <div class="entry value-minus">&nbsp;</div>
                                                    <div class="entry value">
                                                        <span>1</span>
                                                    </div>
                                                    <div class="entry value-plus active">&nbsp;</div>
                                                </div>
                                            </div>
                                        </td>*@
                                        <td class="invert">@Html.TextBox("soluong", @item.quanlity, new { @class = "value" })</td>
                                        <td class="invert">
                                            <div class="rem">
                                                <div><a class="close2" href="@Url.Action("Remove","Home",new {id = item.product.id })"></a></div>
                                            </div>
                                        </td>
                                        <td class="invert">@string.Format("{0:#,#.##}", item.product.price * item.quanlity)</td>
                                    </tr>
                                </tbody>
                            }
                            <tr>
                                <td><button type="submit" class="submit check_out btn">Update Quanlity Cart</button></td>
                                <td colspan="4"><b>Order Total</b></td>
                                <td>
                                    @{
                                        List<Item> cart = (List<Item>)Session["cart"];
                                        var total = cart.Sum(item => item.product.price * item.quanlity);
                                    }
                                    @string.Format("{0:#,#.##}", total)đ
                                </td>
                            </tr>
                        }
                    }
                </table>
                @if (Session["cart"] != null)
                {
                    <div class="checkout-right-basket">
                        <a href="@Url.Action("Clear", "Home")">
                            Clear All Cart
                            <span class="fas fa-trash-alt"></span>
                        </a>
                        <a href="@Url.Action("Product", "Home")">
                            Continue Shopping
                            @*<span class="far fa-hand-point-right"></span>*@
                            <span class="fas fa-shopping-cart"></span>
                        </a>
                    </div>
                }
            </div>
        </div>
        @if (Session["cart"] != null)
        {
            <div class="checkout-left">
                <div class="address_form_agile mt-sm-5 mt-4">
                    <h4 class="mb-sm-4 mb-3">Add a new Details</h4>
                    <form action="payment.html" method="post" class="creditly-card-form agileinfo_form">
                        <div class="creditly-wrapper wthree, w3_agileits_wrapper">
                            <div class="information-wrapper">
                                <div class="first-row">
                                    <div class="controls form-group">
                                        <input class="billing-address-name form-control" type="text" name="name" placeholder="Full Name" required="">
                                    </div>
                                    <div class="w3_agileits_card_number_grids">
                                        <div class="w3_agileits_card_number_grid_left form-group">
                                            <div class="controls">
                                                <input type="text" class="form-control" placeholder="Mobile Number" name="number" required="">
                                            </div>
                                        </div>
                                        <div class="w3_agileits_card_number_grid_right form-group">
                                            <div class="controls">
                                                <input type="text" class="form-control" placeholder="Landmark" name="landmark" required="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="controls form-group">
                                        <input type="text" class="form-control" placeholder="Town/City" name="city" required="">
                                    </div>
                                    <div class="controls form-group">
                                        <select class="option-w3ls">
                                            <option>Select Address type</option>
                                            <option>Office</option>
                                            <option>Home</option>
                                            <option>Commercial</option>

                                        </select>
                                    </div>
                                </div>
                                <button class="submit check_out btn">Delivery to this Address</button>
                            </div>
                        </div>
                    </form>
                    <div class="checkout-right-basket">
                        <a href="payment.html">
                            Make a Payment
                            <span class="far fa-hand-point-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!-- //checkout page -->
